<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Task" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>

  </head>
  <body>
  <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-collapse collapse navbar-responsive-collapse">
            <div class="form-group">
              <%= form_tag(units_search_path, method: :get, class: "navbar-form navbar-left") do %>
              <%= text_field_tag :term, params[:term], class: "form-control", placeholder: "Компания" %>
              <%= submit_tag 'Поиск', class: "btn btn-default" %>
              <% end %>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Домой</a></li>
        <li><a href="/users/sign_in">Войти</a></li>
        </ul>
        </div>
       </div>
    </div>
    
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>  
      </div><!--/span--> 
    </div><!--/row-->

      <footer>
       <p>&copy; Xihris 2017</p>
      </footer>

<!--     </div> /container
 -->
  </body>
</html>
